<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.mvoproduct.mapper.SpaSpecificAttributeMapper">
    <select id="searchSpa" parameterType="int" resultType="SpaSpecificAttribute">
        select * from spa_specific_attribute where pro_id = #{pro_id}
    </select>
</mapper>